<ng-container *ngIf="category && partForm">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"> Add {{category.name}} </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="partForm">
      <div class="form-group">
        <label for="name"> Name </label>
        <input class="form-control" id="name" type="text" formControlName="name" required/>
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
          <div *ngIf="name.errors.required">Name is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="price"> Price </label>
        <input class="form-control" id="price" type="text" formControlName="price" required prefix="$" mask="separator.2" thousandSeparator=","/>
        <div *ngIf="price.invalid && (price.dirty || price.touched)" class="alert alert-danger">
          <div *ngIf="price.errors.required">Price is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="weight"> Weight </label>
        <input class="form-control" id="weight" type="text" formControlName="weight" required mask="separator.2" thousandSeparator=","/>
        <div *ngIf="weight.invalid && (weight.dirty || weight.touched)" class="alert alert-danger">
          <div *ngIf="weight.errors.required">Weight is required</div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="addPart();">Add</button>
    <button type="button" class="btn btn-danger" (click)="modal.close()">Cancel</button>
  </div>
</ng-container>