<form autocomplete="off" class="form" [formGroup]="bikeFormService.form" (ngSubmit)="onSubmit()">
  <app-build-header></app-build-header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-8">
        <app-bike-build-parts></app-bike-build-parts>
        <div class="mt-3">
          <button class="btn btn-primary" type="submit" [disabled]="bikeFormService.form.invalid">Submit</button>
        </div>
      </div>
      <div class="col-4">
        <div>
          <h3> Data </h3>
        </div>
        <div>
          {{bikeFormService.rawData | json}}
        </div>
        <div>
          <span> Status: {{bikeFormService.form.status}} </span>
        </div>
      </div>
    </div>
  </div>
</form>